.page {
  /* Page */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 0px;
  isolation: isolate;

  position: relative;
  width: auto;
  height: 3000px;

  background: #ffffff;
}

.section1 {
  /* section */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 60px 170px;
  gap: 40px;
  isolation: isolate;

  width: auto;
  height: auto;
  min-height: 400px;

  background: rgba(0, 0, 0, 0.6);

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

.profile {
  /* avatar */

  width: 100px;
  height: 100px;

  background: rgba(217, 217, 217, 0.5);
  border-radius: 50px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

.section1 > .container {
  /* container */

  /* Auto layout */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 760px;
  height: 100px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 1;
  z-index: 1;
}

.section1 > .container > .Title {
  /* title */

  width: 760px;
  height: 32px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.section1 > .container > .row2 {
  /* row2 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;

  width: 760px;
  height: 20px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.section1 > .container > .row2 > .label {
  /* label-normal */

  box-sizing: border-box;

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 4px;
  gap: 2px;
  font-weight: bold;
  color: #ffffff;

  width: auto;
  height: auto;

  background: rgba(217, 217, 217, 0.5);
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 2px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.section1 > .container > .row3 {
  /* row3 */

  width: 760px;
  height: 24px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  color: #ffffff;

  /* Inside auto layout */
  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
